a.tb{
    color: black !important;
    text-decoration: none !important;
}

a.tb:hover{
    color: #999 !important;
    text-decoration: underline !important;
}

a.tw{
    color: white !important;
    text-decoration: none !important;
}

a.tw:hover{
    color: whitesmoke !important;
    text-decoration: underline !important;
}

.footer{
    background-color: #333;
    color:  #fff;
}

a.navbar-brand {
    width: 12%;
    color: #fff;
}

@media (max-width: 768px) {
    a.navbar-brand {
        width: 30% !important;
    }
}